In [58]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [59]:
data=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv',index_col=0)
data.head()

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [60]:
data.Intent.unique()

array(['None selected', 'Suicide', 'Homicide', 'Accident', 'Unknown'],
      dtype=object)

In [61]:
data.loc[(data.Intent=='None selected')|(data.Intent=='Unknown'),'Intent']=np.nan

In [62]:
data.Gender.unique()

array(['None selected', 'Female', 'Male'], dtype=object)

In [63]:
data.loc[(data.Gender=='None selected'),'Gender']=np.nan

In [64]:
data.Race.unique()

array(['None selected', 'White', 'Black', 'Hispanic',
       'Asian/Pacific Islander', 'Other'], dtype=object)

In [65]:
data.loc[(data.Race=='None selected')|(data.Race=='Other'),'Race']=np.nan

In [66]:
data.Age.unique()

array(['None selected', 'Under 15', '15 - 34', '35 - 64', '65+', '5'],
      dtype=object)

In [67]:
data.loc[(data.Age=='None selected'),'Age']=np.nan

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540 entries, 1 to 540
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Intent      324 non-null    object
 1   Gender      360 non-null    object
 2   Age         450 non-null    object
 3   Race        360 non-null    object
 4   Deaths      540 non-null    int64
 5   Population  540 non-null    int64
 6   Rate        468 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 33.8+ KB

In [71]:
data.head(10)

   Intent Gender       Age                    Race  Deaths  Population  Rate
1     NaN    NaN       NaN                     NaN   33599   316299978  10.6
2     NaN    NaN       NaN                   White   22079   197369634  11.2
3     NaN    NaN       NaN                   Black    7765    38896382  20.0
4     NaN    NaN       NaN                Hispanic    3007    54049078   5.6
5     NaN    NaN       NaN  Asian/Pacific Islander     442    16315561   2.7
6     NaN    NaN       NaN                     NaN     306     9669323   3.2
7     NaN    NaN  Under 15                     NaN     427    61085868   0.7
8     NaN    NaN  Under 15                   White     242    31538832   0.8
9     NaN    NaN  Under 15                   Black     109     8323603   1.3
10    NaN    NaN  Under 15                Hispanic      63    14994449   0.4

In [103]:
# task 1 & 3
task_1=data.groupby(['Intent'],as_index=False)[['Deaths']].sum()
task_1['ratio']=round(task_1['Deaths']/sum(task_1.Deaths),2)

task_1

     Intent  Deaths  ratio
0  Accident    4368   0.02
1  Homicide   93808   0.35
2   Suicide  168464   0.63

In [125]:
# task 2
task_2=data[data['Intent']=='Suicide'].groupby(['Gender'],as_index=False)[['Deaths']].sum()
task_2['ratio']=round(task_2.Deaths/sum(task_2.Deaths),2)

task_2

   Gender  Deaths  ratio
0  Female   11587   0.14
1    Male   72646   0.86

In [91]:
# task 4
task_4=data[(data['Intent']=='Homicide')&(data['Age']=='15 - 34')&(data.Gender=='Male')].groupby(['Race'],as_index=False)[['Deaths']].sum()
task_4['ratio']=round(task_4.Deaths/sum(task_4.Deaths),2)

task_4

                     Race  Deaths  ratio
0  Asian/Pacific Islander      76   0.01
1                   Black    4312   0.67
2                Hispanic    1166   0.18
3                   White     913   0.14

In [146]:
print('Rate of black homicide victims who are males in the age-group of 15--34: {}'.format(task_4.loc[task_4['Race']=='Black'].iloc[0]['ratio']*100))

Rate of black homicide victims who are males in the age-group of 15--34: 67.0

In [92]:
# task 5
task_5=data[data['Intent']=='Homicide'].groupby(['Gender'],as_index=False)[['Deaths']].sum()
task_5['ratio']=round(task_5.Deaths/sum(task_5.Deaths),2)

task_5

   Gender  Deaths  ratio
0  Female    7167   0.15
1    Male   39739   0.85

In [148]:
print('Rate of women homicide victims {}'.format(task_5.loc[task_5['Gender']=='Female'].iloc[0]['ratio']*100))

Rate of women homicide victims 15.0