In [87]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [88]:
data=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv',index_col=0)
data.head()

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [89]:
data=data[~(data=='None selected').any(axis=1)]

In [90]:
data.Deaths.sum()

33595

In [91]:
# task 1 & 3
task_1=data.groupby(['Intent'],as_index=False)[['Deaths']].sum()
task_1['ratio']=round(task_1['Deaths']/sum(task_1.Deaths),2)

task_1

     Intent  Deaths  ratio
0  Accident     544   0.02
1  Homicide   11727   0.35
2   Suicide   21058   0.63
3   Unknown     266   0.01

In [92]:
# task 2
task_2=data[data['Intent']=='Suicide'].groupby(['Gender'],as_index=False)[['Deaths']].sum()
task_2['ratio']=round(task_2.Deaths/sum(task_2.Deaths),2)

task_2

   Gender  Deaths  ratio
0  Female    2897   0.14
1    Male   18161   0.86

In [93]:
# task 4
task_4=data[(data['Intent']=='Homicide')&(data['Age']=='15 - 34')&(data.Gender=='Male')].groupby(['Race'],as_index=False)[['Deaths']].sum()
task_4['ratio']=round(task_4.Deaths/sum(task_4.Deaths),2)

task_4

                     Race  Deaths  ratio
0  Asian/Pacific Islander      76   0.01
1                   Black    4312   0.66
2                Hispanic    1166   0.18
3                   Other      54   0.01
4                   White     913   0.14

In [94]:
print('Rate of black homicide victims who are males in the age-group of 15--34: {}'.format(task_4.loc[task_4['Race']=='Black'].iloc[0]['ratio']*100))

Rate of black homicide victims who are males in the age-group of 15--34: 66.0

In [95]:
# task 5
task_5=data[data['Intent']=='Homicide'].groupby(['Gender'],as_index=False)[['Deaths']].sum()
task_5['ratio']=round(task_5.Deaths/sum(task_5.Deaths),2)

task_5

   Gender  Deaths  ratio
0  Female    1793   0.15
1    Male    9934   0.85